<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src="script.js"></script>

    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,200&family=Bebas+Neue&family=Fira+Sans+Extra+Condensed:ital,wght@1,200&family=Luxurious+Script&family=Titillium+Web:wght@300&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Roboto:ital,wght@1,300&family=Ropa+Sans&family=Russo+One&display=swap"
        rel="stylesheet">



</head>

<body>

    <header>
        <nav class="main-nav">
            <input type="checkbox" id="isChecked" />
            <label for="isChecked" class="menu-btn">
                <i class="fas fa-bars"></i>
            </label>
            <ul class="minions-united">

                <li><a class="logo" href="index.ejs"><img src="img/Minions-United.png" alt="premier lig logosu"
                            width="70px" height="90px"></a></li>
                <li><a class="minions-united" href="#">Minions United</a></li>

            </ul>

            <ul class="navlinks">

                <li><a href="#">PREMIER LIG 2023/2024</a></li>


            </ul>
        </nav>

    </header>

    <!-- <img id="arkaplan"  src="img/arkaplan.jpg" alt="Arkaplan sotosu">-->

    <ul class="btns">
        <button class="btn" id="fiks"><a href="/index">FİKSTÜR</a></button>
        <button class="btn"><a href="../league-table">PUAN DURUMU</a></li>
    </ul>



    <div class="slider-container">
        <button id="prev">&lt</button>
        <div class="slider">

            <% for(var i=1; i <=38; i++) { %>
                <td><a class="slide" onclick="updatefixture(this)" %>>
                        <%= i %>
                    </a> </td>
                <% } %>

        </div>
        <button id="next">&gt</button>
        <script src="slider.js"></script>
    </div>


    <br>
    <br>
    <br>
    <table id="fixture" class="matches">

    </table>


    <script>


        var data = JSON.parse('<%= JSON.stringify(matches)  %>'.replace(/&#(\d+);/g, function (match, dec) { return String.fromCharCode(dec); }));




        var liveData = JSON.parse('<%= JSON.stringify(livematches)  %>'.replace(/&#(\d+);/g, function (match, dec) { return String.fromCharCode(dec); }));
        console.log(liveData)


        function updatefixture(elem) {
            let table = document.getElementById("fixture");
            let matchday = parseInt(elem.text)

            var tableRows = document.querySelectorAll('#fixture tr');

            tableRows.forEach(function (row) {
                row.remove();
            });


            let create_row = (table, date, homeTeamLogoURL, homeTeam, score, awayTeam, awayTeamLogoURL) => {
                var newRow = document.createElement('tr');

                var dateCell = document.createElement('td');
                dateCell.className = 'date';
                dateCell.textContent = date;
                newRow.appendChild(dateCell);

                var homeImgCell = document.createElement("img");
                homeImgCell.setAttribute('src', homeTeamLogoURL);
                homeImgCell.setAttribute('height', 65);
                homeImgCell.setAttribute('width', 65);
                newRow.appendChild(homeImgCell);

                var homeCell = document.createElement('td');
                homeCell.className = 'home';
                homeCell.align = 'right';
                homeCell.textContent = homeTeam;
                newRow.appendChild(homeCell);

                var scoreCell = document.createElement('td');
                scoreCell.className = 'score';
                scoreCell.textContent = score;
                scoreCell.setAttribute('id', homeTeam + awayTeam)
                newRow.appendChild(scoreCell);

                var awayCell = document.createElement('td');
                awayCell.className = 'away';
                awayCell.textContent = awayTeam;
                newRow.appendChild(awayCell);

                var awayImgCell = document.createElement("img");
                awayImgCell.setAttribute('src', awayTeamLogoURL);
                awayImgCell.setAttribute('height', 65);
                awayImgCell.setAttribute('width', 65);
                newRow.appendChild(awayImgCell);

                var detailsCell = document.createElement('td');
                detailsCell.className = 'details';
                var detailsLink = document.createElement('a');
                detailsLink.href = '#'; // Detaylar sayfasının URL'si buraya gelmeli
                detailsLink.textContent = 'Detaylar';
                detailsCell.appendChild(detailsLink);
                newRow.appendChild(detailsCell);

                table.appendChild(newRow);

            }
            let matches = data.filter(function (entry) {
                return entry.matchday === matchday;
            });;


            function getDayOfWeek(utcDate) {
                var daysOfWeek = ["Pazar", "Pazartesi", "Salı", "Çarşamba", "Perşembe", "Cuma", "Cumartesi"];
                var date = new Date(utcDate);
                var dayOfWeek = date.getUTCDay();
                return daysOfWeek[dayOfWeek];
            }

            function formatTarih(utc) {
                var options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' };
                return new Date(utc).toLocaleString('tr-TR', options);

            }









            for (let i = 0; i < matches.length; i++) {

                let match = matches[i];
                let formattedDate = formatTarih(match.utcDate)

                match.homeTeam.name == ('Brighton &amp; Hove Albion FC') ? match.homeTeam.name = 'Brighton' : match.homeTeam.name
                match.awayTeam.name == ('Brighton &amp; Hove Albion FC') ? match.awayTeam.name = 'Brighton' : match.awayTeam.name

                match.homeTeam.name == ('Wolverhampton Wanderers FC') ? match.homeTeam.name = 'Wolverhampton' : match.homeTeam.name
                match.awayTeam.name == ('Wolverhampton Wanderers FC') ? match.awayTeam.name = 'Wolverhampton' : match.awayTeam.name

                if (match.score.fullTime.home !== null) {
                    create_row(table, formattedDate + " " + getDayOfWeek(match.utcDate), match.homeTeam.crest, match.homeTeam.name, match.score.fullTime.home + ' - ' + match.score.fullTime.away, match.awayTeam.name, match.awayTeam.crest);
                }
                else {
                    create_row(table, formattedDate + " " + getDayOfWeek(match.utcDate), match.homeTeam.crest, match.homeTeam.name, '  ' + '-' + '  ', match.awayTeam.name, match.awayTeam.crest);
                }
            }

            updatelivematches()


        }


        elem = {}
        elem.text = data[0].season.currentMatchday


        let todaymatches = data.filter(function (entry) {
            let today = new Date()
            let matchDate = new Date(entry.utcDate)
            return matchDate.getFullYear() === today.getFullYear() && matchDate.getMonth() === today.getMonth() && matchDate.getDay() === today.getDay();
        });;

        console.log(todaymatches)

        var liveMap = new Map();



        if (liveData.length) {
            todaymatches.forEach((match, index) => {
                liveData.forEach((live_match, index) => {
                    if (match.homeTeam.name.replace(' FC', '') == live_match.home_name && match.awayTeam.name.replace(' FC', '') == live_match.away_name) {
                        liveMap.set(match.homeTeam.name + match.awayTeam.name, live_match.events)
                    }
                })
            })
        }

        function updatelivematches() {
            for (const [key, value] of liveMap.entries()) {
                const element = document.getElementById(key);

                let lv = fetch(value.replace(/&amp;/g, '&')).then(response => response.json()).then((v) => {
                    element.innerHTML = "&nbsp;&nbsp;" + v.data.match.time + "'" + '<br>' + v.data.match.score;

                    console.log(v.data.match.ft_score)

                    console.log(v.data.match.time)
                });

            }


        }

        let date = new Date();
        let sec = date.getSeconds();
        setTimeout(() => {
            setInterval(() => {

                updatelivematches()

            }, 60 * 1000);
        }, (60 - sec) * 1000);

        updatefixture(elem)

    </script>

</body>

</html>