<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script defer src="script.js"></script>

    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,200&family=Bebas+Neue&family=Fira+Sans+Extra+Condensed:ital,wght@1,200&family=Luxurious+Script&family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
     
</head>
<body>

    
    <header>
        <nav class="main-nav">
            <input type="checkbox" id="isChecked" />
            <label for="isChecked" class="menu-btn">
                <i class="fas fa-bars"></i>
            </label>
            <a href="index.html" class="logo">TFF</a>
            <ul class="navlinks">
                <li><a href="#">LİG İSMİ</a></li>
                

            </ul>
        </nav>
    </header>
    <ul class="btns">
        <button class="btn" id="fiks"><a href="https://www.youtube.com">fikstür yeni 
            
        </a></button>
        <button class="btn"><a href="https://getbootstrap.com/docs/4.0/layout/grid/">PUAN DURUMU</a></li>
    </ul>
      
    
    

   
</body>
</html>